.budus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: red;
  }

  &__list {
    border: 2px solid white;
    padding: 4px;
    margin-bottom: 2px;
  }
}
